# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
.vs/OpenGL/v15/Browse.VC.db
.vs/OpenGL/v15/Browse.VC.opendb
.vs/OpenGL/v15/ipch/AutoPCH/b3f2da3f451a1f8b/APPLICATION.ipch
.vs/OpenGL/v15/ipch/AutoPCH/3a808e1e19aa25f/INDEXBUFFER.ipch
.vs/OpenGL/v15/ipch/AutoPCH/4d0440cfc1ab7084/RENDERER.ipch
.vs/OpenGL/v15/ipch/AutoPCH/4e0ae792bbf0c887/RENDERER.ipch
.vs/OpenGL/v15/ipch/AutoPCH/f31d010325609af9/VERTEXBUFFER.ipch
.vs/OpenGL/v15/ipch/AutoPCH/5f8e3e37e279b1bb/VERTEXARRAYS.ipch
*.ipch
*.json
*.sqlite
bin/intermediate/x64/Debug/OpenGL.tlog/unsuccessfulbuild
